flowsXSD.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="flows">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="flow">
          <xs:complexType>
            <xs:sequence>
            </xs:sequence>
            <xs:attribute name="inputType" type="xs:string" use="required"/>
            <xs:attribute name="inputPath" type="xs:string" use="required"/>
            <xs:attribute name="outputType" type="xs:string" use="required"/>
            <xs:attribute name="outputPath" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="inputType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GET"/>
      <xs:enumeration value="XML"/>
      <xs:enumeration value="EXCEL"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="outputType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PUT"/>
      <xs:enumeration value="POST"/>
      <xs:enumeration value="HTML"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>